fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
pdfplumber==0.11.0
groq==0.9.0
reportlab==4.2.2
python-dotenv==1.0.1
pymupdf==1.24.5
PyJWT==2.8.0
cryptography==42.0.8
supabase==2.0.0
Pillow==10.3.0
